/* COLORS  */
$pantone-cloud-dancer: #f0efeb;
$pantone-nimbus-cloud: #d5d5d7;
$pantone-lemon-icing: #f5ebc8;
$pantone-raindrops-roses: #ebd8dc;
$pantone-ice-melt: #d4e4f1;
$pantone-peach-dust: #f0d9cc;
$pantone-almost-aqua: #c9d3c0;
$pantone-orchid-tint: #dbd3dc;
$pantone-hematite: #756f6a;

$primary: $pantone-ice-melt;
$secondary: $pantone-nimbus-cloud;
$success: $pantone-almost-aqua;
$info: $pantone-orchid-tint;
$warning: $pantone-lemon-icing;
$danger: $pantone-raindrops-roses;
$light: $pantone-cloud-dancer;
$dark: $pantone-hematite;

$body-bg: $light;
$body-color: $dark;